@import url('https://fonts.googleapis.com/css2?family=Karla:wght@400;700&display=swap');

*, *:before, *:after{
    box-sizing: border-box;
}

body{
    font-family: 'Karla', sans-serif;
    background-color: #E6EFF5;
    margin: 0;
    line-height: 1.5;
}

.container{
    min-height: 100svh;
    display: grid;
    grid-template-rows: repeat(2, 1fr);
}

.card{
    padding: 1rem;
}







.attribution {
  font-size: 0.8rem;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
