@import url('https://fonts.googleapis.com/css2?family=Karla:wght@400;700&display=swap');

*, *:before, *:after{
    box-sizing: border-box;
    margin: 0;
}

.bg-primary-100{
    background-color: #FFFFFF;
}
.bg-primary-200{
    background-color: #2AB3B1;
}
.bg-primary-300{
    background-color: #2AB3B1;
    opacity: 0.8;
}

body{
    font-family: 'Karla', sans-serif;
    background-color: #E6EFF5;
    color: #FFFFFF;
    line-height: 1.5;
}

.content{
    min-height: 100svh;
    display: grid;
    place-content: center;
    padding: 5rem 2rem;
}


.container{
    width: 19.5rem;
    display: grid;
    grid-template-rows: repeat(2, 1fr);
}

.card{
    display: grid;
    padding: 1rem;
    text-align: start;
}

.card-title{
    font-size: 2rem;
}

.card-title-color{
    color: #2AB3B1;
}

.money-back{
    color: #C0DF33;
}

.card-info:first-of-type {
    color: #9AA7BE;
}



.attribution {
    color: initial;
  font-size: 0.8rem;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
